header {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
  width: 100%;
}

header .header-wrap__left {
  margin-right: auto;
}

header .header-wrap__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrap__right ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

header .header-wrap__right ul li {
  margin-left: 2rem;
}

header .header-wrap__right .icons {
  margin-left: 2rem;
}

header .header-wrap__right .icons img:nth-child(2) {
  margin-left: .8rem;
}

main {
  height: 200vh;
  padding-top: 64px;
}

main .card {
  margin: 5rem auto 0;
}

main .card-img img {
  -o-object-fit: center;
     object-fit: center;
  width: 286px;
}

main .card .btn {
  background-color: #067B33;
  color: #fff;
}

main .card .btn:hover {
  background-color: #fff;
  color: #067B33;
  border: 1px solid #067B33;
  -webkit-transition: all .3s;
  transition: all .3s;
}
